.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text);
    text-align: center;
    animation: fadeIn 1s ease forwards;
  
    .content {
      h1 {
        font-size: 5rem;
        color: var(--primary);
        margin-bottom: 4rem;
        animation: bounce 1.5s infinite;
        margin-top: 0;
      }
  
      p {
        font-size: 1.5rem;
        color: var(--secondary);
        margin-bottom: 2rem;
      }
  
      .btn-home {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        color: var(--background);
        background: var(--accent);
        border-radius: 5px;
        text-decoration: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: background 0.3s ease, transform 0.2s ease;
  
        &:hover {
          background: var(--primary);
          transform: translateY(-2px);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  