.modal-wrapper {
    position: fixed; /* Superposition sur la page entière */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fond sombre semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Plus haut que la plupart des éléments */
    
  }
  
  .modal-content {
    text-align:center;
    position: relative;
    padding: 2rem;
    background: rgba(255, 255, 255, 1); /* Conteneur semi-transparent */
    border-radius: 10px;
    max-width: 800px; /* Largeur maximale en mode PC */
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre pour détacher le modal */
    color: #15110f;
  
    @media (max-width: 768px) {
      max-width: 100%; /* En version mobile, prendre toute la largeur */
      padding: 1rem;
    }
  
    .background-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      filter: brightness(1); /* Rendre le texte lisible */
      border-radius: 10px;
    }
  
    .modal-header {
      text-align: center;
      margin-bottom: 3rem;
      margin-top:2rem;
  
      h2 {
        font-size: 2rem;
        color: #56483e;
        margin: 0;
      }
    }
  
    .modal-body {
      .section {
        margin-bottom: 1.5rem;
  
        h3 {
          font-size: 1.25rem;
          color: #47625a;
          margin-bottom: 0.5rem;
        }
  
        p {
          font-size: 1rem;
          line-height: 1.5;
          word-wrap: break-word; /* Gère les mots trop longs */
          margin: 0;
        }
      }
    }
  
    .modal-footer {
      text-align: center;
      margin-top: 1.5rem;
  
      button {
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        background-color: #566676;
        color: #f2efed;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
      }
    }
  }
  