@use '../../../styles.scss' as *;

header {
  color: var(--text);
  top: 0;
  width: 100%;
  z-index: 1000;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-right: 4px;
      
        .logo-link {
          display: flex;
          align-items: center;
          text-decoration: none;
        }
      
        .logo-image {
          width: 40px; /* Ajustez la taille selon vos besoins */
          height: 40px;
          margin-right: 10px; /* Espacement entre l'image et le texte */
          border-radius: 50%; /* Si vous voulez une image ronde */
        }
      
        .logo-text {
          font-size: 1.5rem;
          font-weight: bold;
          color: var(--accent);
          transition: color 0.3s ease;
      
          &:hover {
            color: var(--secondary);
          }
        }
      }
      

      .nav-links {
        display: flex;
        gap: 3rem; /* Augmente l'espacement entre les liens */
        padding-left: 0;
      
        li {
          list-style: none;
      
          a {
            font-size: 1.25rem; /* Augmente la taille du texte */
            text-decoration: none;
            color: var(--text);
            position: relative;
            transition: color 0.3s ease;
      
            &:hover {
              color: var(--accent);
            }
      
            // Style pour le lien actif
            &.active-link {
              border: 2px solid red;
      
              &::after {
                content: '';
                display: block;
                width: 100%;
                height: 3px; /* Barre plus épaisse */
                background-color: var(--accent);
                margin-top: 8px; /* Augmente l'espacement avec le texte */
                transition: width 0.3s ease;
              }
            }
          }
        }
      }
      
  }

  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  
    .icon {
      width: 24px;
      height: 24px;
      display: block;
      transition: opacity 0.3s ease;
      padding: 0.5rem;
  
      &:hover {
        opacity: 0.8;
      }
    }
  }
}  