<div class="cv-page">
    <!-- Section Titre -->
    <header class="cv-header">
      <h1>Olivier Carrere-Gee</h1>
      <p>Étudiant en école d’ingénieur spécialisé en informatique et cloud computing.</p>
      <a download="CV_Olivier_CarrereGee" href="/pdf/cv.pdf" class="btn-download">
        Télécharger mon CV
      </a>
    </header>
 
  
    <!-- Section Compétences -->
    <section class="cv-section">
      <h2>Compétences</h2>
      <div class="skills">
        <!-- Langages et Frameworks -->
        <div class="skill-category">
          <h3>Langages et Frameworks</h3>
          <div class="skill-item">
            <span>Python</span>
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>Java (Spring)</span>
            <div class="progress-bar">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>C, C++</span>
            <div class="progress-bar">
              <div class="progress" style="width: 50%;"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>SQL, MongoDB</span>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>TypeScript (Angular)</span>
            <div class="progress-bar">
              <div class="progress" style="width: 85%;"></div>
            </div>
          </div>
          <div class="skill-item">
            <span>PHP (Symfony)</span>
            <div class="progress-bar">
              <div class="progress" style="width: 65%;"></div>
            </div>
          </div>
        </div>
  
        <!-- Outils et Langues -->
        <div class="skill-category">
          <h3>Outils et Langues</h3>
          <div class="tool-item">
            <ul>
              <li>Docker, Kubernetes</li>
              <li>AWS, Google Cloud</li>
              <li>Postman, Jira</li>
            </ul>
          </div>
          <hr>
          <div class="language-skill">
            <div>
              <span>Français <small>Natif</small></span>
              <div class="stars">★★★★★</div>
            </div>
            <div>
              <span>Anglais <small>980 TOEIC</small></span>
              <div class="stars">★★★★☆</div>
            </div>
            <div>
              <span>Espagnol</span>
              <div class="stars">★★★☆☆</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Section Expériences -->
    <section class="cv-section">
      <h2>Expérience</h2>
      <div class="experience-list">
        <div class="experience-item">
            <h3>Ingénieur Full Stack - Eviden Groupe Atos</h3>
            <p class="details">Alternance - Septembre 2024 à Septembre 2025</p>
            <p>Conception et mise en place d'un référentiel d’applications. <br />
              <strong>Technologies :</strong> Angular, Spring, SQL.</p>
        </div>
        <div class="experience-item">
          <h3>Ingénieur Full Stack - Crédit Agricole Centre-France</h3>
          <p class="details">Stage - Juin à Août 2023</p>
          <p>Conception et mise en place d'un référentiel d’applications et de serveurs. <br />
            <strong>Technologies :</strong> SQL, PHP Symfony, Angular.</p>
        </div>
        <div class="experience-item">
          <h3>Développeur de Site Web - GlobalStrategy Portugal</h3>
          <p class="details">Stage - Avril à Juillet 2024</p>
          <p>Innovation et modernisation d’un site Web. <br />
            <strong>Technologies :</strong> HTML, PHP, JavaScript.</p>
        </div>
      </div>
    </section>
  
    <!-- Section Formation -->
    <section class="cv-section">
      <h2>Formation</h2>
      <div class="education-list">
        <div class="education-item">
          <h3>CY Tech</h3>
          <p class="details">Dernière année - Campus de Pau (2022-2025)</p>
        </div>
        <div class="education-item">
          <h3>Classe Préparatoire MPSI - MP</h3>
          <p class="details">Lycée Godefroy de Bouillon - Clermont-Ferrand (2020-2022)</p>
        </div>
      </div>
    </section>
  
    <!-- Section Loisirs -->
    <section class="cv-section">
      <h2>Loisirs</h2>
      <p>Musculation, piano, musique (pop & jazz), exploration technologique.</p>
    </section>
  </div>
  